@font-face {
  font-family: 'als_sectorregular';
  src: url('../font-family/als_sector_regular.woff2') format('woff2'),
  url('../font-family/als_sector_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'als_sectorbold';
  src: url('../font-family/als_sector_bold.woff2') format('woff2'),
  url('../font-family/als_sector_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
