$font-family: 'als_sectorregular';
$font-family-bold: 'als_sectorbold';
$fontBase: 16px;


$black: #000;

$light: #fefefe;
$light-2: #efefef;
$dark: #3a3d43;
$dark-bg: #25282f;
$dark-bg-opacity: rgba(37, 40, 47, 0.95);
$dark-bg-2: #1a1c21;
$header-grad: #373c46;
$header-line: #3f4148;
$gray: #919cb6;

$purple: #4a50e1;
$violet: #7706d3;
$blue: #1b96d1;
$blue-dark: #3b68a4;

$yellow: #cdae57;
$orange-light: #eab367;
$orange: #c38b51;
$orange-dark: #c57b4b;
$orange-pink: #a8584f;
$pink: #cd4a64;

$green: #369e77;